# General
.DS_Store

# Files that might appear in the root of a volume
.Spotlight-V100
.TemporaryItems
.Trashes
.com.apple.timemachine.donotpresent

# System files
.idea

# VSCode
.vscode/settings.json
