/* Reset */
  * {
    box-sizing: border-box;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  ul li {
    list-style: none;
    margin: 0;
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
  html {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    scrollbar-color: #666 #201c29;
    line-height: 1.6em;
  }

/* Hero Section */
.page-wrap { /* @video 53:00 mins */
  min-height: 100vh;
  /* height: 0; I don't need this trick*/
}
.img-wrapper {
  width: 100%;
  background: bottom / cover no-repeat url('../images/wave-1817646_1920.svg') #000;
}
.container {
  max-width: 1160px; /* 1024 is too narrow */
  width: 90%; /* gives space around content on mobile */
  margin: 0 auto;
  min-height: 90vh;
  display: flex; /* to vertically center site title & tag */
  flex-direction: column;
}

/* Main Navigation @video 1:00:00 :hover etc */
.nav-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.main-nav-list__item {
  padding: 1em 0 .5em 0;
  margin: 1em;
  position: relative;  
}
.main-nav-list__item::after {
  content: '';
  position: absolute;
  background-color: #00FF9A;
  height: 1px;
  width: 0;
  bottom: 0;
  left: 0;
}
.main-nav-list__item:hover::after {
  width: 50%;
  transition: 0.2s;
}
.main-nav-list__item a {
  font-size: .8em;
  text-transform: uppercase;
}
/* Header Site-branding */
.site-branding {
  display: flex; /* to vertically center title & tag */
  flex-direction: column;
  flex-grow: 1; /* make full height as parent to center vertically */
  justify-content: center; /* vertical centering */
}
.site-branding h1 {
  color: #fff;
  font-size: 3.5em;
  font-weight: 700;
}
.site-branding p {
  font-weight: 700;
  font-size: 2em;
  color: #fff;
  margin: 0;
}

